<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section uk-section-large">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-large">
          <div class="abm-card uk-card uk-card-default uk-card-hover">
            <div class="abm-card-head uk-text-center">
              <h1 class="uk-h1">
                {{ (lang$ | async).getText(7) }}
              </h1>
              <p>
                {{ (lang$ | async).getText(13) }}
              </p>
            </div>
            <div class="abm-card-body">
              <app-login-password *ngIf="needPassword"></app-login-password>
              <app-login-sms *ngIf="!needPassword"></app-login-sms>
            </div>
            <div class="abm-card-footer">
              <div class="uk-text-center">
                <a appTo="/registration" class="uk-link-muted uk-text-uppercase" tabindex="100">
                  {{ (lang$ | async).getText(5) }}
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
