<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>

            <app-profile-subhead></app-profile-subhead>

            <div class="abm-card-body">
              <app-two-step-registration [disableBirthDay]="true" codeSubmitBtn="96"></app-two-step-registration>
            </div>
          
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
