  <form>
    <app-cart-input [readonly]="step === 2"></app-cart-input>
    <app-phone-input [readonly]="step === 2" mode="registration"></app-phone-input>

    <app-password-input
    *ngIf="(needPassword$ | async)"
    field="passwordOne"
    (success)="chackPasswords()"
    [tabindex]="2"
    [readonly]="step === 2"></app-password-input>

    <app-password-input
    *ngIf="(needPassword$ | async)"
    field="passwordTwo"
    (success)="chackPasswords()"
    [tabindex]="3"
    [readonly]="step === 2"></app-password-input>

    <app-sms *ngIf="step === 2" (send)="confirmSMS($event)" mode="registration"></app-sms>

    <div class="uk-text-center" *ngIf="step === 1">
        <button type="button" 
        *ngIf="(needPassword$ | async)"
        (click)="submitStepOne()"
        class="abm-button abm-button-default" 
        [tabindex]="4"
        [disabled]="!( (cart$ | async).valid.status &&
        (phone$ | async).valid.status &&
        (passwordOne$ | async).valid.status && 
        (passwordTwo$ | async).valid.status )">
          {{ (lang$ | async).getText(11) }}
        </button>

        <button type="button" 
        *ngIf="!(needPassword$ | async)"
        (click)="submitStepOne()"
        class="abm-button abm-button-default" 
        [tabindex]="4"
        [disabled]="!( (cart$ | async).valid.status && (phone$ | async).valid.status)">
          {{ (lang$ | async).getText(11) }}
        </button>

      </div>
  </form>
