<form (submit)="onSubmit()">
  <app-phone-input tabindex="1"></app-phone-input>
  <app-password-input field="password" tabindex="2"></app-password-input>
  <div class="uk-margin-small-bottom uk-text-center">
    <a (click)="toForgotPassword()" class="uk-link-muted" tabindex="3">
      {{ (lang$ | async).getText(121) }}
    </a>
  </div>

  <div class="uk-text-center">
    <button type="submit" class="abm-button abm-button-default" tabindex="4" 
    [disabled]="!((phone$ | async).valid.status && (password$ | async).valid.status)">
      {{ (lang$ | async).getText(11) }}
    </button>
  </div>
</form>


