<div class="uk-margin-small-bottom">
  <input
    [ngClass]="{
      'abm-input': true,
      'abm-input-warning': !(phone$ | async).valid.status
    }"
    type="tel"
    placeholder="{{ (lang$ | async).getText(8) }}" 
    [textMask]="{mask: staticConfig.phone.mask, showMask: staticConfig.phone.showMask}"
    [(ngModel)]="model" 
    (ngModelChange)="onChange()"
    [readonly]="readonly"
    [attr.tabindex]="tabindex">
  <div class="abm-alert abm-alert-warning" *ngIf="!(phone$ | async).valid.status"> 
      <ng-template [ngIf]="(phone$ | async).valid.massageString">
          {{ (phone$ | async).valid.massageString }}
        </ng-template>
        <ng-template [ngIf]="(phone$ | async).valid.messageCode">
          {{ (lang$ | async).getText( (phone$ | async).valid.messageCode ) }}
        </ng-template>
  </div>
</div>