<div class="abm-card-head">

  <div class="uk-grid uk-flex-middle" uk-grid>

    <div class="uk-width-1-2@m">

      <div class="uk-flex uk-flex-middle">

        <div class="uk-width-auto uk-margin-right">
          <span class="abm-profile-img" uk-icon="icon: user; ratio: 2"></span>
        </div>

        <div class="uk-width-expand">
          <h1 appTo="/profile" class="abm-profile-title cursor-pointer">{{ (lang$ | async).getText(57) }}</h1>
          <h2 class="abm-profile-subtitle">{{ (lang$ | async).getText(58) }}, {{ (profileData$ | async).getFullName() }} !</h2>
        </div>

      </div>

    </div>

    <div class="uk-width-1-2@m">

      <nav class="abm-profile-nav">
        <ul class="uk-grid uk-grid-small uk-grid-divider uk-flex-right@m" uk-grid>
          <li class="uk-width-auto@s">
            <a appTo="/profile/edit">{{ (lang$ | async).getText(59) }}</a>
          </li>
          <li class="uk-width-auto@s">
            <a appTo="/profile/mailing">{{ (lang$ | async).getText(60) }}</a>
          </li>
          <li class="uk-width-auto@s">
            <a (click)="auth.logout()">
              <span uk-icon="icon: sign-out;"></span>
              {{ (lang$ | async).getText(61) }}
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

</div>