// imports

@import "./src/theme";

// abm-welcome-section

.abm {

  &-welcome {

    &-section {
      background: $baseGradient, $baseGradientImage;
    }

    &-title {
      font-size: $textLg;
      color: $baseWhite;

      @media (max-width: $breakpoint-md) {
        margin-bottom: $baseSpacing * 2;
      }

      @media (max-width: $breakpoint-sm) {
        font-size: $textMd;
      }

    }

  }

  &-info {

    &-section {
      padding: calc(60px + 30px) 30px 30px 30px;
      background-color: $baseWhite;
      position: relative;
      clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

      @media (max-width: $breakpoint-md) {
        padding: calc(60px * 2.5) 30px 30px 30px;
      }

      &-container {
        overflow: hidden;
        position: relative;
        padding: 10px;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;

        &:after {

          // pseudo mask

          $padding: 0px;

          content: '';
          position: absolute;
          left: -5px;
          right: -5px;
          top: 28px;
          border-bottom: 1px solid $baseWhite;
          transform: rotate(-3.65deg);

          @media (max-width: $breakpoint-md) {
            display: none;
          }
          
        }

        &:before {

          // pseudo mask

          $padding: 0px;

          content: '';
          position: absolute;
          border-left: 1px solid $baseWhite;
          border-right: 1px solid $baseWhite;
          border-bottom: 1px solid $baseWhite;
          left: $padding;
          right: $padding;
          top: $padding;
          bottom: $padding;
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

          @media (max-width: $breakpoint-md) {
            display: none;
          }

        }

      }

    }

    &-title {

    }

    &-item {

    }

  }

}
