<section class="abm-welcome-section">

  <div class="uk-container">

    <div class="uk-section uk-text-center"
    [ngClass]="{
      'uk-section-large': staticConfig.showWelcomeSection,
      'abm-section-adaptive': !staticConfig.showWelcomeSection
    }">

      <h1 class="abm-welcome-title">
        {{ (lang$ | async).getText(3) }} <br>
        {{ (lang$ | async).getText(4) }}
      </h1>

      <div class="uk-grid uk-flex-wrap uk-flex-center uk-margin-medium-bottom" uk-grid>

        <div *ngIf="!auth">
          <button class="abm-button abm-button-default" (click)="toRegistration()">
            {{ (lang$ | async).getText(5) }}
          </button>
        </div>

        <div *ngIf="!auth">
          <button class="abm-button abm-button-primary" (click)="toLogin()">
            {{ (lang$ | async).getText(6) }}
          </button>
        </div>

        <div *ngIf="auth">
          <button appTo="/profile"  class="abm-button abm-button-default">
            {{ (lang$ | async).getText(91) }}
          </button>
        </div>

      </div>

      <div class="abm-info-section-container" *ngIf="staticConfig.showWelcomeSection">

        <section class="abm-info-section">

          <h2 class="abm-info-title uk-margin-medium-bottom">
						{{ (lang$ | async).getText(14) }}
            <br>
						{{ (lang$ | async).getText(15) }}
          </h2>

          <div class="uk-grid uk-flex-wrap uk-child-width-1-3@s uk-flex-center" uk-grid>

            <figure class="abm-info-item uk-margin-bottom">
              
              <svg-icon class="uk-margin-bottom" src="/assets/images/money-icon.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon>

              <figcaption>
									{{ (lang$ | async).getText(16) }} <br>
									{{ (lang$ | async).getText(17) }}
              </figcaption>

            </figure>

            <figure class="abm-info-item uk-margin-bottom">

              <svg-icon class="uk-margin-bottom" src="/assets/images/check-icon.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon>

              <figcaption>
									{{ (lang$ | async).getText(18) }} <br>
									{{ (lang$ | async).getText(19) }}
              </figcaption>

            </figure>

            <figure class="abm-info-item uk-margin-bottom">

              <svg-icon class="uk-margin-bottom" src="/assets/images/sale-icon.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon>

              <figcaption>
									{{ (lang$ | async).getText(20) }} <br>
									{{ (lang$ | async).getText(21) }}
              </figcaption>

            </figure>

            <figure class="abm-info-item uk-margin-bottom">

              <svg-icon class="uk-margin-bottom" src="/assets/images/newspaper-icon.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon>

              <figcaption>
									{{ (lang$ | async).getText(22) }}<br>
									{{ (lang$ | async).getText(23) }}
              </figcaption>

            </figure>

            <figure class="abm-info-item uk-margin-bottom">

              <svg-icon class="uk-margin-bottom" src="/assets/images/card-icon.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon>
               
              <figcaption>
									{{ (lang$ | async).getText(24) }} <br>
									{{ (lang$ | async).getText(25) }}
              </figcaption>

            </figure>

          </div>

        </section>

      </div>

    </div>

  </div>

</section>
