<div class="uk-margin-small-bottom">
    <input 
      [ngClass]="{
        'abm-input': true,
        'abm-input-warning': !(cart$ | async).valid.status
      }"
      type="text" 
      placeholder="{{ (lang$ | async).getText(29) }}" 
      [(ngModel)]="model" 
      (ngModelChange)="onChange()"
      [readonly]="readonly">
    <div class="abm-alert abm-alert-warning" *ngIf="!(cart$ | async).valid.status">
        <ng-template [ngIf]="(cart$ | async).valid.massageString">
          {{ (cart$ | async).valid.massageString }}
        </ng-template>
        <ng-template [ngIf]="(cart$ | async).valid.messageCode">
            {{ (lang$ | async).getText((cart$ | async).valid.messageCode) }}
        </ng-template>
    </div>
  </div>
