<ul class="abm-switcher-head uk-subnav uk-flex-center">
    <li [ngClass]="{'uk-active': (step$ | async) === 1}">
      <a>{{ (lang$ | async).getText(27) }} 1</a>
    </li>
    <li [ngClass]="{'uk-active': (step$ | async) === 2}">
      <a>{{ (lang$ | async).getText(27) }} 2</a>
    </li>
  </ul>