<footer class="abm-footer">
  <div class="uk-container">

    <div class="abm-footer-top">
      <div class="uk-grid uk-flex-wrap uk-flex-middle uk-flex-between" uk-grid>
        <div class="abm-footer-item">
          <ul class="abm-social-widget">
            <li *ngFor="let item of social">
              <a [attr.href]="item.link">
                <i [attr.class]="item.icon"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="abm-footer-item">
          <ul class="abm-footer-list">
            <li *ngIf="(staticConfig.suport.phone && staticConfig.suport.phone !== '') || (staticConfig.suport.email && staticConfig.suport.email !== '')">
								{{ (lang$ | async).getText(1) }}:
            </li>
            <li>
              <a *ngIf="staticConfig.suport.phone && staticConfig.suport.phone !== ''" [attr.href]="'tel:' + staticConfig.suport.phone">
                <span uk-icon="receiver"></span>
                {{ staticConfig.suport.phone }}
              </a>
            </li>
            <li>
              <a *ngIf="staticConfig.suport.email && staticConfig.suport.email !== ''" [attr.href]="'mailto:' + staticConfig.suport.email">
                <span uk-icon="mail"></span>
                {{ staticConfig.suport.email }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="abm-footer-divider uk-margin"></div>

    <div class="abm-footer-bottom">
      <div class="uk-grid uk-flex-wrap uk-flex-middle uk-flex-between" uk-grid>
        <div class="abm-footer-item">
          © ABM Reward Software House, LLC
        </div>
        <div class="abm-footer-item">
          <a class="uk-icon-button uk-margin-right" [attr.href]="staticConfig.androidLink">
            <i class="ico-os-android"></i>
          </a>
          <a class="uk-icon-button" [attr.href]="staticConfig.iosLink">
            <i class="ico-os-ios">iOS</i>
          </a>
        </div>
        <!-- <div class="abm-footer-item">
						{{ (lang$ | async).getText(2) }}:
          <a href="#">
            Wezom Agency
            <i class="ico-wezom"></i>
          </a>
        </div> -->
      </div>
    </div>

  </div>
</footer>
