// imports

@import "./src/theme";

// abm-footer

.abm-footer {
  padding: 30px 0;

  &-divider {
    border-bottom: 1px solid $baseTextColor;
  }

  &-list {
    margin: 0;
    padding: 0;

    @media (max-width: $breakpoint-sm) {
      display: none;
    }

    > li {
      display: inline-block;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      > a {

        > span {
          margin-right: .5rem;
        }

      }

    }

  }

}

.abm-social-widget {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 1rem
  }

  a {
    &:hover {
      transition: $transition;
      opacity: .85;
    }
  }

}
