
    <div class="abm-slider-head uk-padding-small uk-margin-bottom">
        <div class="uk-flex uk-flex-between">
          <div class="uk-flex uk-flex-middle uk-margin-small-right">
            <div class="uk-margin-right">
              <span uk-icon="icon: tag; ratio: 1.5"></span>
            </div>
            <div>
              <h3 class="uk-h4">
                {{ title }}
              </h3>
            </div>
          </div>
          <div class="uk-slidenav-container">
            <a (click)="previous()" uk-slidenav-previous></a>
            <a (click)="next()" uk-slidenav-next></a>
          </div>
        </div>
      </div>
  
      <div class="abm-slider-body">
        <div class="uk-position-relative uk-visible-toggle" uk-slider>
          <a uk-slider-item="previous" [attr.id]="name + '_previous'" hidden></a>
          <a uk-slider-item="next" [attr.id]="name + '_next'" hidden></a>
          <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-grid">
            
            <ng-template [ngIf]="name === 'news'">
              <li *ngFor="let item of list">
                <div class="abm-slider-item uk-panel cursor-pointer">
                  <img class="abm-slider-item-img" [appTo]="getLinkNews(item.partnerId, item.id)" [attr.src]="item.img_path" alt="">
                  <div class="abm-slider-item-body">
                    <time class="uk-text-muted" [attr.datetime]="getDate(item.date)">{{ getDate(item.date) }}</time>
                    <h4 [appTo]="getLinkNews(item.partnerId, item.id)">
                      <a>{{ item.name }}</a>
                    </h4>
                    <p [appTo]="getLinkNews(item.partnerId, item.id)">
                      {{ item.description_short }}
                    </p>
                    <div>
                      <a [appTo]="getLinkNews(item.partnerId, item.id)">{{ (lang$ | async).getText(77) }}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ng-template>

            <ng-template [ngIf]="name === 'actions'">
              <li *ngFor="let item of list">
                <div class="abm-slider-item uk-panel cursor-pointer">
                  <img [appTo]="getLinkAction(item.id)" [attr.src]="item.img_path" alt="">
                  <div class="abm-slider-item-body">
                    <time class="uk-text-muted" [attr.datetime]="getDate(item.created)">{{ getDate(item.created) }}</time>
                    <h4>
                      <a [appTo]="getLinkAction(item.id)">{{ item.title }}</a>
                    </h4>
                    <p>
                      {{ item.content }}
                    </p>
                    <div>
                      <a [appTo]="getLinkAction(item.id)">{{ (lang$ | async).getText(77) }}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ng-template>
            
          </ul>
        </div>
      </div>