// imports

@import "./src/theme";

// abm-slider

.abm-slider {

  &-head {
    background: $baseColor;
    color: $baseWhite;

    a {
      color: $baseWhite;
    }

    h3 {
      color: $baseWhite;
      margin: 0;
    }



  }

  &-body {
  

  }

}

.abm-slider-item {

  img {
    margin-bottom: 20px;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  &-body {
    margin-bottom: 40px;
    
    > time,
    > h4,
    > p {
      color: $baseTextColor;
    }

    > time {
      margin-bottom: 10px;
      display: block;
    }

    > h4 {
      margin: 0;

      > a {
        color: $baseTextColor;
      }

    }

    > a {

    }

  }

}

