<div class="uk-grid uk-flex-middle uk-margin-top uk-margin-bottom" uk-grid>

  <div class="uk-width-1-1 uk-width-auto@s">
    {{ (lang$ | async).getText(69) }}:
  </div>

  <app-input-rangepicker class="uk-width-expand" (update)="update($event)"></app-input-rangepicker>
</div>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-responsive uk-table-justify uk-table-divider">
    <thead>
      <tr>
        <th>{{ (lang$ | async).getText(78) }}</th>
        <th>{{ (lang$ | async).getText(80) }}</th>
        <th>{{ (lang$ | async).getText(81) }}</th>
        <th>{{ (lang$ | async).getText(118) }}</th>
        <th>{{ (lang$ | async).getText(120) }}</th>
        <th>{{ (lang$ | async).getText(119) }}</th>
        <th>{{ (lang$ | async).getText(135) }}</th>
        <th>{{ (lang$ | async).getText(82) }}</th>
        <th>{{ (lang$ | async).getText(104) }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="data">
        <tr>
          <td>{{ getShop(item) }}</td>
          <td>
            <span [ngClass]="{
            'uk-text-success': getBonus(item) > 0,
            'uk-text-danger': getBonus(item) < 0
          }">{{ getBonus(item) }}</span>
          </td>
          <td class="uk-text-nowrap">{{ item.transactions[0].pay_description}}</td>
          <td class="uk-text-nowrap">{{ getSum(item) }}</td>
          <td class="uk-text-nowrap">{{ getPaySumInPayType1(item)}}</td>
          <td>{{ getProductBonus(item) }}</td>
          <td class="uk-text-nowrap">{{ getPayBonus(item) }}</td>
          <td class="uk-text-nowrap">
            <time datetime="">{{ item.transactions[0].formatted_pay_time}}</time>
          </td>
          <td class="uk-text-nowrap">
            <time datetime="">{{ item.transactions[0].formatted_pay_date}}</time>
          </td>
          <td>
            <a [attr.uk-toggle]="'target: #table-sub-' + item.check_identifier + '; animation: uk-animation-fade'">
              <span [attr.id]="'js-toggle-' + item.check_identifier"  
              [attr.uk-toggle]="'target: #js-toggle-' + item.check_identifier +  '; cls: transform-180'" uk-icon="chevron-down"></span>
            </a>
          </td>
        </tr>
        <tr [attr.id]="'table-sub-' + item.check_identifier" *ngIf="getCheckPositions(item)" hidden>
          <td colspan="10">
            <div class="uk-tile uk-tile-muted uk-padding">
              <table class="uk-table uk-width-1-2@m">
                <thead>
                  <tr>
                    <th>{{ (lang$ | async).getText(84) }}</th>
                    <th>{{ (lang$ | async).getText(115) }}</th>
                    <th>{{ (lang$ | async).getText(116) }}</th>
                    <th>{{ (lang$ | async).getText(117) }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of getCheckPositions(item)">
                    <td>{{product.product_name}}</td>
                    <td>{{product.product_price}}</td>
                    <td>{{product.product_amount}}</td>
                    <td>{{product.product_sum}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>