<header class="abm-header">

  <div class="uk-container">

    <div class="uk-flex uk-flex-wrap uk-flex-middle uk-flex-between">

      <div class="abm-header-logo">
        <a [attr.href]="staticConfig.linkLogo">
          <img src="/assets/project/images/abm-logo.png" alt="abm-header-logo" [attr.title]="staticConfig.titleLogo">
        </a>
      </div>

      <div class="abm-header-content uk-flex uk-flex-wrap uk-flex-middle">

        <ul class="abm-header-list uk-visible@m">
          <li *ngIf="(staticConfig.suport.phone && staticConfig.suport.phone !== '') || (staticConfig.suport.email && staticConfig.suport.email !== '')">
            {{ (lang$ | async).getText(1) }}:
          </li>
          <li>
            <a *ngIf="staticConfig.suport.phone && staticConfig.suport.phone !== ''" [attr.href]="'tel:' + staticConfig.suport.phone">
              <span uk-icon="receiver"></span>
              {{ staticConfig.suport.phone }}
            </a>
          </li>
          <li>
            <a *ngIf="staticConfig.suport.email && staticConfig.suport.email !== ''" [attr.href]="'mailto:' + staticConfig.suport.email">
              <span uk-icon="mail"></span>
              {{ staticConfig.suport.email }}
            </a>
          </li>
        </ul>

        <app-language-widget></app-language-widget>

        <a href="#offcanvas" id="offcanvas-toogle" uk-toggle class="uk-margin-left uk-hidden@m">
          <span uk-icon="menu"></span>
        </a>

      </div>

    </div>

  </div>

</header>
