// imports

@import "./src/theme";

// abm-header

.abm-header {
  padding: 20px 0;

  &-logo {
    width: 100%;
    max-width: 150px;

    > img {

      width: 100%;
      object-fit: contain;

    }

  }

  &-content {

  }

  &-list {
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-right: 1px solid $baseTextColorLighten;

    > li {
      display: inline-block;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      > a {

        > span {
          margin-right: .5rem;
        }

      }

    }

  }

  #offcanvas-toogle {
    color: $baseTextColorLighten;
  }

}
