<section class="abm-base-section">
  <div class="uk-container">
    <div class="uk-section">
      <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>

            <app-profile-subhead></app-profile-subhead>

            <div class="abm-card-body">

              <h1 class="uk-margin">{{ (lang$ | async).getText(146) }}</h1>

              <div class="abm-button-nav uk-grid uk-grid-small uk-margin" uk-grid>
                <div><a class="abm-button abm-button-default" (click)="setAllTime()">{{ (lang$ | async).getText(147) }}</a></div>
                <div><a class="abm-button abm-button-default" (click)="setYear()">{{ (lang$ | async).getText(148) }}</a></div>
                <div><a class="abm-button abm-button-default" (click)="setMount()">{{ (lang$ | async).getText(149) }}</a></div>
              </div>

              <div class="uk-margin uk-grid uk-grid-small uk-flex-between" uk-grid>
                <div>
                  <app-input-datepicker [value]="from" [ageLimit]="false" (updateDate)="setFrom($event)"></app-input-datepicker>
                </div>

                <div>
                  <app-input-datepicker [value]="to" [ageLimit]="false" (updateDate)="setTo($event)"></app-input-datepicker>
                </div>

              </div>

              <div class="uk-margin-medium" *ngIf="false">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
              </div>

              <div class="abm-badge-nav uk-grid uk-grid-small uk-margin-medium" uk-grid uk-switcher>
                <div *ngFor="let partner of partners"><a class="abm-badge abm-badge-default">{{ partner.company }}</a></div>
              </div>

              <div class="uk-switcher">
                <div class="abm-tree uk-margin" *ngFor="let partner of partners">
                  <ul uk-accordion="multiple: true" *ngIf="in('data', partner)">
                    <ng-template [ngIf]="checkCategories(partner['data'])">
                      <li class="abm-tree-item" *ngFor="let item of partner['data']['categories']" app-category [data]="item"></li>
                    </ng-template>

                    <ng-template [ngIf]="checkProducts(partner['data'])">
                      <li class="abm-tree-item" *ngFor="let item of partner['data']['products']" app-product [data]="item"></li>
                    </ng-template>
                  </ul>
                </div>
              </div>

            </div>

            <div class="abm-card-footer">
              <p class="uk-text-center uk-margin-remove uk-text-muted">

              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
