<section class="abm-base-section">
  <div class="uk-container">
    <div class="uk-section uk-section-large">
      <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-width-large">
          <div class="abm-card uk-card uk-card-default uk-card-hover">
            <div class="abm-card-head uk-text-center">
              <h1 class="uk-h1 uk-margin-remove">
                {{ (lang$ | async).getText(105) }}
              </h1>
            </div>
            <div class="abm-card-body">
              <form (submit)="setCard()" *ngIf="status === true">
                <app-cart-input></app-cart-input>
                <div class="uk-text-center">
                  <button type="submit" 
                  class="abm-button abm-button-default"
                  [disabled]="!(cart$ | async).valid.status"
                  [tabindex]="4">
                    {{ (lang$ | async).getText(11) }}
                  </button>
                </div>
              </form>
              <p *ngIf="status === false" class="uk-margin-remove">
                {{ (lang$ | async).getText('cart_add') }}
              </p>
            </div>
            <div class="abm-card-footer">
              <div class="uk-text-center">
                <a appTo="/profile" class="uk-link-muted uk-text-uppercase">
                  <span uk-icon="arrow-left"></span>
                  {{ (lang$ | async).getText(112) }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>