<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>

            <app-profile-subhead></app-profile-subhead>

            <div class="abm-card-body">

              <app-profile-sliders></app-profile-sliders>

              <div class="abm-profile-table">

                <div class="abm-profile-table-head uk-padding-small">
                  <div class="uk-flex uk-flex-middle uk-margin-small-right">
                    <div class="uk-margin-right">
                      <span uk-icon="icon: history; ratio: 1.5"></span>
                    </div>
                    <div>
                      <h3 class="uk-h4">
                        {{ (lang$ | async).getText(68) }}
                      </h3>
                    </div>
                  </div>
                </div>

                <app-purchase-history></app-purchase-history>

              </div>

            </div>
            <div class="abm-card-footer">
              <p class="uk-text-center uk-margin-remove uk-text-muted">
                  {{ (lang$ | async).getText(129) }}
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
