<div class="uk-margin-small-bottom">
  <input class="abm-input" [value]="name" [placeholder]="(lang$ | async).getText(38)">
  <div uk-drop="animation: uk-animation-slide-top-small; duration: 500; mode: click; pos: bottom-justify">
    <div class="abm-dropdown-body uk-card uk-card-body uk-card-default">
      <ul class="abm-dropdown-list uk-list" *ngIf="list.length">
        <li *ngFor="let item of list">
          <a href="#" (click)="setItem(item.region_id)">
            {{ item.region_name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="abm-alert abm-alert-warning">

  </div>
</div>