<div class="uk-margin-small-bottom uk-text-center">
  <a class="uk-link-muted">
    {{ '* ' + (lang$ | async).getText(9) }}
  </a>
</div>
<form (submit)="onSend()">


  <div class="uk-margin-small-bottom">
      <input [ngClass]="{
        'abm-input': true,
        'abm-input-warning': !(sms$ | async).valid.status
      }" type="password" placeholder="{{ (lang$ | async).getText(122) }}" [(ngModel)]="model" [readonly]="readonly" (ngModelChange)="onUpdate()"
      name="smsPassword" required>
  
    <div class="abm-alert abm-alert-warning" *ngIf="!(sms$ | async).valid.status && ((sms$ | async).valid.messageCode || (sms$ | async).valid.massageString)">
      <ng-template [ngIf]="(sms$ | async).valid.massageString">
        {{ (sms$ | async).valid.massageString }}
      </ng-template>
      <ng-template [ngIf]="(sms$ | async).valid.messageCode">
        {{ (lang$ | async).getText((sms$ | async).valid.messageCode) }}
      </ng-template>
    </div>
  </div>
  

  <div class="uk-text-center">
  <div class="uk-margin-small-bottom" *ngIf="mode === 'registration'">
    <label class="abm-checkbox-body">
      <input class="uk-checkbox uk-margin-small-right" type="checkbox" [(ngModel)]="confirm" name="confirm" (ngModelChange)="onUpdate()">
      {{ (lang$ | async).getText(34) }} 
      <a [attr.href]="staticConfig.regulationsLink" target="_blank">{{ (lang$ | async).getText(35) }}</a> 
    </label>
  </div>


  <button [disabled]="!(sms$ | async).valid.status" type="submit" class="abm-button abm-button-default">
    {{ (lang$ | async).getText(11) }}
  </button>
  
  </div>


</form>