<div class="uk-margin-small-bottom">
    <label class="abm-checkbox-body"
      [ngClass]="{
        'uk-form-danger': !model.valid.status
      }">
      <input 
      class="uk-checkbox uk-margin-small-right"
      type="checkbox"
      [(ngModel)]="model.value" 
      (ngModelChange)="onChange()"
      [readonly]="readonly"
      [attr.tabindex]="tabindex">

      {{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}
    </label>
    <div class="abm-alert abm-alert-warning" *ngIf="!model.valid.status">
      <ng-template [ngIf]="model.valid.massageString">
        {{ model.valid.massageString }}
      </ng-template>
      <ng-template [ngIf]="model.valid.messageCode">  {{ (lang$ | async).getText(model.valid.messageCode) }} </ng-template>
  </div>
  </div>