<div class="uk-width-1-1 uk-width-medium@s">
  <div class="uk-inline uk-width-1-1">
    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
    <input [ngClass]="{
      'abm-input': 'true',
      'no-opacity': 'true'
    }"
    placeholder="{{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}" 
    (bsValueChange)="onValueChange($event)"
    readonly
    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
    [(ngModel)]="model"
    bsDaterangepicker>
  </div>
</div>