// fonts (you can put the link from https://fonts.google.com/, please use sans-serif font e.x. roboto/open sans)

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
$baseFont: 'Roboto', sans-serif;

// font size

$textLg: 36px;
$textMd: 24px;
$textSm: 18px;

// please use 14px - 18px

$textXs: 15px;

$baseFontSize: $textXs;
$baseFontSizeHeading: $textLg;

// spacing

$baseSpacing: 1rem;

// palette

$baseWhite: #FFFFFF;
$baseColor: #FFCB04;
$baseTextColor: #212121;

// colors (please don't modify this)

$baseColorDarken: darken($baseColor, 10%);
$baseColorLighten: lighten($baseColor, 0%);
$baseTextColorDarken: darken($baseTextColor, 100%);
$baseTextColorLighten: lighten($baseTextColor, 50%);
$baseGradient: linear-gradient(rgba(darken($baseColor, 35%), .85), rgba(lighten($baseColor, 35%), .35) 100%);

// here you can change the main bg image e.x. url('/assets/project/images/{bg-image}') no-repeat top;

$baseGradientImage: url('/assets/project/images/welcome-section-bg.svg') no-repeat top / 100%;

// transition

$transition: .25s all ease-in-out;

// breakpoints

$breakpoint-lg: 1200px;
$breakpoint-md: 968px;
$breakpoint-sm: 640px;
$breakpoint-xs: 480px;
