// imports

@import "./src/theme";

// abm-language-widget

.abm-language-widget {

  &-button {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    outline: none;
    cursor: pointer;
    background: white;

    span {
      position: relative;
      top: -2px;
      color: $baseTextColorLighten;
    }

  }

  > .uk-dropdown {
    min-width: initial;

    li {

      a {
        text-transform: uppercase;
      }

    }

  }

}

