<div class="abm-language-widget">
  <button class="abm-language-widget-button" type="button">
    {{ (lang$ | async).currentLang.name }}
    <span uk-icon="icon: chevron-down; ratio: 1"></span>
  </button>
  <div uk-dropdown="mode: click; pos: bottom-center">
    <ul class="uk-nav">
      <li class="uk-active" *ngFor="let item of (lang$ | async).languages">
        <a href="#" (click)="changeLang(item)">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
