<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>
            <app-profile-subhead></app-profile-subhead>

            <div class="abm-card-body">

              <article class="abm-news-item"  *ngIf="item">

                <div class="uk-grid" uk-grid>

                  <div class="uk-width-1-3@m">
                    <img class="abm-img-responsive uk-margin-bottom" [attr.src]="item['img_path']" alt="abm-news-item-img">
                    <span class="uk-margin-small-right">
                      {{ (lang$ | async).getText(98) }}:
                    </span>
                    <time class="uk-text-muted" [attr.datetime]="getDateInUnix(item['date'])">
                      {{ getDateInUnix(item['date']) }}
                    </time>
                  </div>

                  <div class="uk-width-expand@m">

                    <h1>
                        {{ item['name'] }}
                    </h1>

                    <p>
                      {{ item['description_short'] }}
                    </p>

                  </div>

                </div>

                <hr>

                <div>
                  <a appTo="/profile">
                    <span class="uk-margin-small-right" uk-icon="arrow-left"></span>
                    {{ (lang$ | async).getText(134) }}
                  </a>
                </div>

              </article>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
