<div class="uk-margin-small-bottom">
  <input 
    [ngClass]="{
      'abm-input': true,
      'abm-input-warning': !inputText.valid.status
    }"
    [type]="type" 
    placeholder=" {{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}" 
    [(ngModel)]="inputText.value" 
    (ngModelChange)="onChange()"
    [readonly]="readonly"
    [attr.tabindex]="tabindex"
    [required]="required">
  <div class="abm-alert abm-alert-warning" *ngIf="!inputText.valid.status">
      <ng-template [ngIf]="inputText.valid.massageString">
        {{ inputText.valid.massageString }}
      </ng-template>
      <ng-template [ngIf]="inputText.valid.messageCode">  {{ (lang$ | async).getText(inputText.valid.messageCode) }} </ng-template>
  </div>
</div>
