<div class="uk-margin-small-bottom">

  <input
  [ngClass]="{
    'abm-input': true,
    'abm-input-warning': !model.valid.status
  }"
  placeholder=" {{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}" 
  [attr.value]="name">

  <div uk-drop="mode: click; pos: bottom-justify">
    <div class="abm-dropdown-body uk-card uk-card-body uk-card-default">
      <ul class="abm-dropdown-list uk-list" *ngIf="list.length">
        <li *ngFor="let item of list">
          <a href="#" (click)="setItem(item.id)">
            {{ item[nameFiled] }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="abm-alert abm-alert-warning" *ngIf="!model.valid.status">
    <ng-template [ngIf]="model.valid.massageString">
      {{ model.valid.massageString }}
    </ng-template>
    <ng-template [ngIf]="model.valid.messageCode">  {{ (lang$ | async).getText(model.valid.messageCode) }} </ng-template>
</div>
</div>