<a class="uk-accordion-title">
  <span class="abm-tree-item-icon uk-margin-small-right" uk-icon="chevron-right"></span>
  {{ data['name'] }} - <b> {{ data['sum'] }} грн</b>
</a>
<div class="uk-accordion-content uk-padding-small uk-padding-remove-vertical">
  <ul uk-accordion="multiple: true">
    <ng-template [ngIf]="checkCategories(data)">
      <li class="abm-tree-item" *ngFor="let item of data['categories']" app-category [data]="item"></li>
    </ng-template>

    <ng-template [ngIf]="checkProducts(data)">
      <li class="abm-tree-item" *ngFor="let item of data['products']" app-product [data]="item"></li>
    </ng-template>
  </ul>
</div>
