<form (submit)="submit()" ngNativeValidate>
  <div class="uk-grid" uk-grid>

    <div class="uk-width-1-2@m" *ngIf="profileData">
      <app-input-text 
      placeholderCode="48"
      [value]="profileData['first_name']"
      [required]="profileData['params']['required']['first_name']"
      (update)="setDataItem($event, 'first_name')"></app-input-text>
      
      <app-input-text 
      placeholderCode="49"
      [value]="profileData['last_name']"
      [required]="profileData['params']['required']['last_name']"
      (update)="setDataItem($event, 'last_name')"></app-input-text>

      <app-input-text 
      placeholderCode="145"
      [value]="profileData['middle_name']"
      [required]="profileData['params']['required']['middle_name']"
      (update)="setDataItem($event, 'middle_name')"></app-input-text>
     
      <app-input-select
      placeholderCode="50"
      [value]="profileData['gender']"
      [list]="profileData.params.gender_params" 
      [required]="profileData['params']['required']['gender']"
      (update)="setDataItem($event, 'gender')"></app-input-select>

      <app-input-text
      placeholder="email"
      [value]="profileData['email']"
      type="email"
      [required]="profileData['params']['required']['email']"
      (update)="setDataItem($event, 'email')"></app-input-text>

      <app-input-datepicker 
      placeholderCode="55" 
      [value]="profileData['birth_day']"
      [disable]="disableBirthDay"
      [required]="profileData['params']['required']['birth_day']"
      (update)="setDataItem($event, 'birth_day')"></app-input-datepicker>

      <app-input-region
      *ngIf="regions"
      [value]="profileData['id_region']"
      [list]="regions"
      (update)="setDataItem($event, 'id_region')"></app-input-region>
      
      <app-input-city
      *ngIf="regions"
      [value]="profileData['id_city']"
      [regionId]="data['id_region']"
      [regions]="regions"
      placeholderCode="39" 
      (update)="setDataItem($event, 'id_city')"></app-input-city>
      
      <app-input-text
      placeholderCode="51"
      [value]="profileData['address']"
      [required]="profileData['params']['required']['address']"
      (update)="setDataItem($event, 'address')"></app-input-text>
    </div>

    <div class="uk-width-1-2@m" *ngIf="profileFields && profileData">
      
        <ng-template ngFor let-item [ngForOf]="profileFields.fields" >
            <app-input-text
            *ngIf="item.data_type === 1"
            [value]="profileData[item.key]"
            [placeholder]="item.name"
            [required]="item.required"
            (update)="setDataItem($event, item.key)"></app-input-text>

            <app-input-select 
            *ngIf="item.data_type === 2"
            nameFiled="value"
            [value]="profileData[item.key]"
            [placeholder]="item.name"
            [list]="item.items" 
            [required]="item.required"
            (update)="setDataItem($event, item.key)"></app-input-select>

            <app-input-datepicker
            *ngIf="item.data_type === 3"
            [value]="profileData[item.key]"
            [ageLimit]="false"
            [placeholder]="item.name"
            [required]="item.required"
            (update)="setDataItem($event, item.key)"></app-input-datepicker>

            <app-input-checkbox
            *ngIf="item.data_type === 4"
            [value]="profileData[item.key]"
            [placeholder]="item.name"
            [required]="item.required"
            (update)="setDataItem($event, item.key)"
            ></app-input-checkbox>

        </ng-template>

    </div>

    <div class="uk-width">
        <div class="uk-text-center">
            <button type="submit" 
              class="abm-button abm-button-default" 
              [disabled]="!valid()">
                {{ (lang$ | async).getText(codeSubmitBtn) }}
              </button>
          </div>
    </div>
    
  </div>
</form>

                