<div class="uk-offcanvas-content">

    <app-offcanvas></app-offcanvas>

    <app-header></app-header>
    
    <main class="abm-main">
      <router-outlet></router-outlet>
    </main>
    
    <app-footer></app-footer>
    
    <app-spinner *ngIf="(appStore$ | async).progress" mode="fixed"></app-spinner>

</div>
