<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>
            <app-profile-subhead></app-profile-subhead>

            <div class="abm-card-body">

              <h1>{{ (lang$ | async).getText(92) }}</h1>

              <p>
                {{ (lang$ | async).getText(93) }}
              </p>

              <ul class="uk-list">
                <li>
                  <label class="abm-checkbox-body">
                    <input class="uk-checkbox uk-margin-small-right" type="checkbox" [(ngModel)]="email" (ngModelChange)="onChange()"> 
                    {{ (lang$ | async).getText(94) }}
                  </label>
                </li>
                <li>
                  <label class="abm-checkbox-body">
                    <input class="uk-checkbox uk-margin-small-right" type="checkbox" [(ngModel)]="sms" (ngModelChange)="onChange()"> 
                    {{ (lang$ | async).getText(95) }}
                  </label>
                </li>
              </ul>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</section>
