<form (submit)="submit()" ngNativeValidate>
    <div class="uk-grid" uk-grid>
  
      <div class="uk-width-1-2@m" *ngIf="profileData">
        <app-cart-input [readonly]="step === 2"></app-cart-input>
        <app-phone-input [readonly]="step === 2" mode="registration"></app-phone-input>

        <app-password-input
        *ngIf="(needPassword$ | async)"
        field="passwordOne"
        (success)="chackPasswords()"
        [readonly]="step === 2"></app-password-input>

        <app-password-input
        *ngIf="(needPassword$ | async)"
        field="passwordTwo"
        (success)="chackPasswords()"
        [readonly]="step === 2"></app-password-input>


        <app-input-text 
        placeholderCode="48"
        [required]="profileData['params']['required']['first_name']"
        (update)="setDataItem($event, 'first_name')"></app-input-text>
        
        <app-input-text placeholderCode="49"
        [required]="profileData['params']['required']['last_name']"
        (update)="setDataItem($event, 'last_name')"></app-input-text>

        <app-input-text 
        placeholderCode="145"
        [value]="profileData['middle_name']"
        [required]="profileData['params']['required']['middle_name']"
        (update)="setDataItem($event, 'middle_name')"></app-input-text>
       
        <app-input-select
        placeholderCode="50" 
        [list]="profileData.params.gender_params" 
        [required]="profileData['params']['required']['gender']"
        (update)="setDataItem($event, 'gender')"></app-input-select>
  
        <app-input-text
        placeholder="email"
        type="email"
        [required]="profileData['params']['required']['email']"
        (update)="setDataItem($event, 'email')"></app-input-text>
  
        <app-input-datepicker 
        placeholderCode="55" 
        [required]="profileData['params']['required']['birth_day']"
        (update)="setDataItem($event, 'birth_day')"></app-input-datepicker>
  
        <app-input-region
        *ngIf="regions"
        [list]="regions"
        (update)="setDataItem($event, 'id_region')"></app-input-region>
        
        <app-input-city
        [regionId]="data['id_region']"
        [regions]="regions"
        placeholderCode="39" 
        (update)="setDataItem($event, 'id_city')"></app-input-city>
        
        <app-input-text
        placeholderCode="51"
        [required]="profileData['params']['required']['address']"
        (update)="setDataItem($event, 'address')"></app-input-text>
      </div>
  
      <div class="uk-width-1-2@m" *ngIf="profileFields">
        
          <ng-template ngFor let-item [ngForOf]="profileFields.fields" >
              <app-input-text
              *ngIf="item.data_type === 1"
              [placeholder]="item.name"
              [required]="item.required"
              (update)="setDataItem($event, item.key)"></app-input-text>
  
              <app-input-select 
              *ngIf="item.data_type === 2"
              nameFiled="value"
              [placeholder]="item.name"
              [list]="item.items" 
              [required]="item.required"
              (update)="setDataItem($event, item.key)"></app-input-select>
  
              <app-input-datepicker
              *ngIf="item.data_type === 3"
              [ageLimit]="false"
              [placeholder]="item.name"
              [required]="item.required"
              (update)="setDataItem($event, item.key)"></app-input-datepicker>
  
              <app-input-checkbox
              *ngIf="item.data_type === 4"
              [placeholder]="item.name"
              [required]="item.required"
              (update)="setDataItem($event, item.key)"
              ></app-input-checkbox>
  
          </ng-template>
  
      </div>
  
      <div class="uk-width-1-1">

        <div class="uk-grid uk-flex-center" uk-grid>

          <div class="uk-width-1-3@m">
              <div class="uk-text-center" *ngIf="step === 1">
                  <button type="submit" 
                    *ngIf="(needPassword$ | async)"
                    class="abm-button abm-button-default" 
                    [disabled]="!( (cart$ | async).valid.status &&
                    (phone$ | async).valid.status &&
                    (passwordOne$ | async).valid.status && 
                    (passwordTwo$ | async).valid.status && valid())">
                      {{ (lang$ | async).getText(5) }}
                    </button>
    
                    <button type="submit" 
                    *ngIf="!(needPassword$ | async)"
                    class="abm-button abm-button-default" 
                    [disabled]="!( (cart$ | async).valid.status &&
                    (phone$ | async).valid.status && valid())">
                      {{ (lang$ | async).getText(5) }}
                    </button>
                </div>  
            
            <app-sms *ngIf="step === 2" (send)="confirmSMS($event)"  mode="registration"></app-sms>


          </div>

        </div>

      </div>
       
    </div>
  </form>
  
                  