<section class="abm-base-section">
  <div class="uk-container">
    <div class="uk-section">
      <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>

            <div class="abm-card-body">
              <div class="abm-profile-table">
                <div class="uk-flex uk-flex-middle uk-flex-between uk-margin-top uk-margin-bottom">
                  <div class="uk-width-auto">
                    <h1 class="uk-h3 uk-margin-remove">{{ (lang$ | async).getText(63) }}</h1>
                  </div>
                  <div class="uk-width-auto cursor-pointer" appTo="/profile/card/add">
                    <span uk-icon="plus-circle" class="uk-margin-small-right"></span>
                    {{ (lang$ | async).getText(105) }}
                  </div>
                </div>
                <div class="uk-overflow-auto">
                  <table class="uk-table uk-table-middle uk-table-responsive uk-table-justify uk-table-divider">
                    <thead>
                      <tr>
                        <th class="uk-table-expand"> {{ (lang$ | async).getText(136) }}</th>
                        <th class="uk-table-shrink">{{ (lang$ | async).getText(137) }}</th>
                        <th class="uk-table-shrink">{{ (lang$ | async).getText(138) }}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf=" (cards$ | async).length">
                      <tr *ngFor="let card of (cards$ | async)">
                        <td [ngClass]="{'opacity': card.status == 2}">{{ card.number }}</td>
                        <td>
                          <span *ngIf="card.status == 2" uk-icon="lock" class="uk-text-danger"></span>
                          <span *ngIf="card.status == 3" uk-icon="unlock" class="uk-text-success"></span>
                        </td>
                        <td>
                          <button *ngIf="card.status == 3" (click)="blockCard(card.number)" type="button" class="abm-button abm-button-default">{{
                            (lang$ | async).getText(139) }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
