<article [ngClass]="{'feedback-item': true, 'abm-disabled': item.answer || item.answer == 0}">
  <div class="uk-grid uk-flex-middle uk-flex-between" uk-grid>
    <div class="uk-width-auto@m">
      <span uk-icon="icon: check; ratio: 1"></span>
    </div>
    <div class="uk-width-auto">
      <img class="feedback-item-img" [attr.src]="item.image">
    </div>
    <div class="uk-width-expand@m">
      <p class="uk-margin-remove uk-h5">
        {{ item.question }}
      </p>
      
      <p class="uk-margin-remove uk-h5 uk-text-muted" *ngIf="!(item.answer || item.answer == 0)">
        {{ (lang$ | async).getText(141) }}
      </p>

      <p class="uk-margin-remove uk-h5 uk-text-muted" *ngIf="item.answer || item.answer == 0">
        {{ (lang$ | async).getText(144) }}
      </p>
      
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-flex uk-flex-between uk-margin-small-bottom">
        <span class="uk-text-danger">{{ (lang$ | async).getText(142) }}</span>
        <span class="uk-text-success">{{ (lang$ | async).getText(143) }}</span>
      </div>
      <div class="uk-grid uk-grid-small uk-flex-between@s uk-child-width-auto uk-child-width-expand@s" uk-grid>
        <span class="uk-text-center" *ngFor="let number of list">
            <button type="button" (click)="send(item.id, number, item.answer)" [ngClass]="{
              'abm-button': true,
              'abm-button-crop': true,
              'abm-button-active': number === item.answer
            }" class="abm-button abm-button-crop">{{ number }}</button>
        </span>
      </div>
    </div>
  </div>
</article>