// imports

@import "./src/theme";

// abm-welcome-section

.feedback-item {
  border-bottom: 1px solid #d4d3d3;
  padding-bottom: $baseSpacing * 1.5;

  &.is-last {
    border-bottom: 0;
  }

  &-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

}