<div class="uk-margin-small-bottom">
  <input class="abm-input" 
  placeholder=" {{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}" 
  [(ngModel)]="model.value"
  (ngModelChange)="change()">
  <div uk-drop="animation: uk-animation-slide-top-small; duration: 500; mode: click; pos: bottom-justify">
    <div class="abm-dropdown-body uk-card uk-card-body uk-card-default">
      <ul class="abm-dropdown-list uk-list" *ngIf="list.length">
        <li *ngFor="let item of list">
          <a href="#" (click)="setItem(item.city_name, item.city_id)">
            {{ item.city_name }}
          </a>
        </li>
      </ul>
      <ul class="abm-dropdown-list uk-list" *ngIf="!list.length">
        <li>
          <a href="#">
           {{ (lang$ | async).getText(132) }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="abm-alert abm-alert-warning">

  </div>
</div>