<div class="abm-profile-slider">
  <div class="uk-grid">

    <div class="uk-width-1-2@m">
      <app-profile-slider [title]="(lang$ | async).getText(66)" [list]="actions" name="actions"></app-profile-slider>
    </div>
    <div class="uk-width-1-2@m">
      <app-profile-slider [title]="(lang$ | async).getText(67)" [list]="news"  name="news"></app-profile-slider>
    </div>
  </div>
</div>