<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section uk-section-large">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div [ngClass]="{
          'uk-width-1-1': staticConfig.fullRegistration || (registrationLarge$ | async),
          'uk-width-large': !staticConfig.fullRegistration && !(registrationLarge$ | async) 
        }">
          <div class="abm-card uk-card uk-card-default uk-card-hover">
            <div class="abm-card-head uk-text-center">
              <h1 class="uk-h1">
                {{ (lang$ | async).getText(26) }}
              </h1>
              <p>
                {{ (lang$ | async).getText(28) }}
              </p>
            </div>
            <div class="abm-card-body">
                <app-steps-switcher *ngIf="!staticConfig.fullRegistration"></app-steps-switcher>
                <app-one-step-registration *ngIf="!staticConfig.fullRegistration && (step$ | async) === 1"></app-one-step-registration>
                <app-two-step-registration *ngIf="!staticConfig.fullRegistration && (step$ | async) === 2"></app-two-step-registration>

                <app-full-registration *ngIf="staticConfig.fullRegistration"></app-full-registration>
            </div>

            <div class="abm-card-footer">
                <div class="uk-text-center">
                  <a appTo="/login" class="uk-link-muted uk-text-uppercase">
                    {{ (lang$ | async).getText(6) }}
                  </a>
                </div>
            </div>

           
          </div>
        </div>

      </div>

    </div>

  </div>

</section>