// imports

@import "./src/theme";

// abm-header

.abm-offcanvas {

  .uk-offcanvas-close {
    color: $baseTextColor;
  }

  .uk-offcanvas-bar {
    color: $baseTextColor;
    background: $baseWhite;
    padding: 20px 20px;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: $baseSpacing * 4 0 0 0;

    > li {
      margin-bottom: $baseSpacing;
    }

    > li > a {
      color: $baseTextColor;
      font-size: $textSm / 1.25;
    }

    > li > a > span {
      color: $baseColor;
    }

  }

}