<div class="abm-offcanvas" id="offcanvas" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="abm-offcanvas-list">
          <li *ngIf="staticConfig.suport.phone != ''">
            <a [attr.href]="'tel:' + staticConfig.suport.phone">
              <span class="uk-margin-small-right" uk-icon="receiver"></span>
              {{ staticConfig.suport.phone }}
            </a>
          </li>
          <li *ngIf="staticConfig.suport.email != ''">
            <a [attr.href]="'mailto:' + staticConfig.suport.email">
              <span class="uk-margin-small-right" uk-icon="mail"></span>
              {{ staticConfig.suport.email }}
            </a>
          </li>
          <!-- <li>
            <a >
              <span class="uk-margin-small-right" uk-icon="sign-in"></span>
              sign-in
            </a>
          </li>
          <li>
            <a href="#">
              <span class="uk-margin-small-right" uk-icon="sign-out"></span>
              sign-out
            </a>
          </li>
          <li>
            <a href="#">
              <span class="uk-margin-small-right" uk-icon="user"></span>
              user
            </a>
          </li> -->
        </ul>

    </div>
</div>