<div class="abm-card-subhead">
  <div class="abm-profile-subnav">
    <div class="uk-grid uk-grid-small uk-grid-divider" uk-grid>

      <div class="uk-width-auto@m">
        <div class="uk-flex">
          <div class="uk-margin-small-right">
            <span uk-icon="phone"></span>
          </div>
          <div>
            <span>
              {{ (lang$ | async).getText(62) }}: {{ (profileData$ | async).getProfileItem('mobile') }}
            </span>
          </div>
        </div>
      </div>

      <div class="uk-width-auto@m">
        <div class="uk-flex">
          <div class="uk-margin-small-right">
            <span uk-icon="credit-card"></span>
          </div>
          <div>
            <a appTo="/profile/card">
              {{ (lang$ | async).getText(63) }}
            </a>
          </div>
        </div>
      </div>

      <div class="uk-width-auto@m">
        <div class="uk-flex">
          <div class="uk-margin-small-right">
            <span uk-icon="bolt"></span>
          </div>
          <div>
            <span>
              {{ (lang$ | async).getText(65) }}:
              <a>{{ (accountsData$ | async).getProfileItem('balance') }} {{ (accountsData$ | async).getProfileItem('currency') }}</a>
            </span>
          </div>
        </div>
      </div>

      <div class="uk-width-auto@m">
        <div class="uk-flex">
          <div class="uk-margin-small-right">
            <span uk-icon="cart"></span>
          </div>
          <div>
            <a appTo="/profile/purchase-statistics">
              Статистика покупок
            </a>
          </div>
        </div>
      </div>

      <div class="uk-width-auto@m">
        <div class="uk-flex cursor-pointer" appTo="/profile/feedback">
          <div class="uk-margin-small-right">
            <span uk-icon="bell"></span>
            <sup>{{ (countQuestions$ | async) }}</sup>
          </div>
          <div>
            <span>
              {{ (lang$ | async).getText(133) }}
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>