<div class="uk-margin-small-bottom">
  <input
  [ngClass]="{
    'abm-input': 'true',
    'no-opacity': 'true',
    'abm-input-warning': !model.valid.status
  }"
  placeholder="{{ placeholderCode ? (lang$ | async).getText(placeholderCode) : placeholder }}" 
  (bsValueChange)="onValueChange($event)"
  readonly
  [disabled]="disable"
  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
  [(ngModel)]="value" 
  bsDatepicker> 

  <div class="abm-alert abm-alert-warning" *ngIf="!model.valid.status">
      <ng-template [ngIf]="model.valid.massageString">
        {{ model.valid.massageString }}
      </ng-template>
      <ng-template [ngIf]="model.valid.messageCode"> {{ (lang$ | async).getText(model.valid.messageCode, {name: 'minAge', value: staticConfig.minimumYear  }) }}</ng-template>
  </div>
</div>