<div class="uk-margin-small-bottom">
    <input 
      [ngClass]="{
        'abm-input': true,
        'abm-input-warning': !password.valid.status
      }"
      type="password" 
      placeholder="{{ (lang$ | async).getText(122) }}" 
      [(ngModel)]="model" 
      (ngModelChange)="onChange()"
      [readonly]="readonly"
      [attr.tabindex]="tabindex">
    <div class="abm-alert abm-alert-warning" *ngIf="!password.valid.status">
        <ng-template [ngIf]="password.valid.massageString">
          {{ password.valid.massageString }}
        </ng-template>
        <ng-template [ngIf]="password.valid.messageCode">
            {{ (lang$ | async).getText(password.valid.messageCode, {name: 'minPassword', value: staticConfig.minPassword  }) }}
        </ng-template>
    </div>
  </div>
