// imports
@import "theme";

// defaults
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $baseTextColor;
  font-weight: 300;
}

a {
  color: $baseColorLighten;
  text-decoration: none;
  transition: $transition;

  &:hover,
  &:focus {
    color: lighten($baseColorLighten, 15%);
    text-decoration: none;
  }
}

// helper
.abm-base-color {
  color: $baseColor;
}

.abm-section-adaptive {
  padding: 140px 0 30vh 0;

  @media (max-width: $breakpoint-md) {
    padding: 70px 0 30vh 0;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 70px 0;
  }
}


// icons
.ico-os {
  height: 18px;
  width: 18px;
  display: inline-block;
}

.ico-os-android {
  @extend .ico-os;
  background: url('/assets/images/ico-os-android.svg') no-repeat center / contain;
}

.ico-os-ios {
  @extend .ico-os;
  font-style: normal;
  font-size: 12px;
  color: $baseTextColor;
}

.ico-social {
  height: 20px;
  width: 20px;
  display: inline-block;

  &-fb {
    @extend .ico-social;
    background: url('/assets/images/ico-social-fb.svg') no-repeat center / contain;
  }

  &-vk {
    @extend .ico-social;
    background: url('/assets/images/ico-social-vk.svg') no-repeat center / contain;
  }

  &-ok {
    @extend .ico-social;
    background: url('/assets/images/ico-social-ok.svg') no-repeat center / contain;
  }

  &-in {
    @extend .ico-social;
    background: url('/assets/images/ico-social-in.svg') no-repeat center / contain;
  }
}

// abm badge 

.abm-badge {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  font: inherit;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
  height: 26px;
  line-height: 24px;
  padding: 0 1rem;
  font-size: $textXs - 2px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: $transition;
  border-radius: 2rem;
  color: $baseColor;
  border: 2px solid $baseColor;
  background: $baseWhite;
  letter-spacing: .5px;

  &:hover,
  &:focus {
    color: $baseWhite;
    background: lighten($baseColorLighten, 5%);
    border-color: lighten($baseColorLighten, 5%);
    text-decoration: none;
  }

}

// abm buttons
.abm-button {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  font: inherit;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding: 0 3rem;
  font-size: $textXs;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: $transition;

  &:hover {}

  &:focus {}

  &:disabled {
    background-color: lighten($baseColorLighten, 30%);
  }

  &:disabled:hover {
    background-color: lighten($baseColorLighten, 30%);
  }

  &-default {
    color: $baseWhite;
    background-color: $baseColorLighten;

    &:disabled:hover {
      background-color: lighten($baseColorLighten, 30%);
    }

    &:hover {
      color: $baseWhite;
      background-color: lighten($baseColorLighten, 5%);
    }

    &:focus {
      color: $baseWhite;
      background-color: lighten($baseColorLighten, 1.5%);
    }

  }

  &-primary {
    color: $baseWhite;
    background-color: transparent;
    border: 2px solid;
    line-height: 38px;

    &:hover {
      color: $baseWhite;
      background-color: rgba(255, 255, 255, .15);
    }

    &:focus {
      color: $baseWhite;
      background-color: rgba(255, 255, 255, .10);
    }
  }

  &-crop {
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 28px;
    font-size: $textXs;
    background: transparent;
    border: 1px solid #d4d3d3;

    &:hover {
      color: $baseWhite;
      border-color: lighten($baseColorLighten, 2.5%);
      background-color: lighten($baseColorLighten, 2.5%);
    }

    &:focus {
      color: $baseWhite;
      border-color: lighten($baseColorLighten, 1.5%);
      background-color: lighten($baseColorLighten, 1.5%);
    }

  }

  &-active {
    color: $baseWhite;
    border-color: lighten($baseColorLighten, 2.5%);
    background-color: lighten($baseColorLighten, 2.5%);
  }
}

.abm-input {
  max-width: 100%;
  width: 100%;
  background: $baseWhite;
  color: $baseTextColor;
  border: 1px solid lighten($baseTextColor, 70%);
  margin: 0;
  border-radius: 0;
  overflow: hidden;
  font: inherit;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-weight: 300;
  padding: 0 1.5rem;
  font-size: $textXs;
  vertical-align: middle;
  text-transform: none;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  transition: $transition;

  &:hover {
    border: 1px solid lighten($baseTextColor, 50%);
  }

  &:focus {
    border: 1px solid lighten($baseTextColor, 60%);
    outline: none !important;
  }

  &:read-only {
    opacity: .5;
  }

  &.abm-input-warning {
    color: #f0506e;
    border: 1px solid #f0506e;
  }
}

// abm alerts
.abm-alert {
  font-size: $textXs;
  padding: .25rem 1.5rem;
  font-weight: 300;

  &-warning {
    color: #f0506e;
  }
}

// abm-base-section
.abm-base-section {
  background: lighten($baseColor, 50%);
  min-height: 80vh;
}

// abm-card
.abm-card {
  // locals
  $spacing: 30px;
  $white: $baseWhite;
  $fontWeight: 300;
  background-color: #FFFFFF;

  &:hover {
    background-color: #FFFFFF;
  }

  &-head {
    background-color: $baseColor;
    padding: $spacing;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing / 2;
    }

    >h1 {
      margin-bottom: $spacing / 2;
      font-weight: $fontWeight;
      color: $white;
    }

    >p {
      margin: 0;
      font-weight: $fontWeight;
      color: $white;
    }

  }

  &-subhead {
    padding: $spacing $spacing 0 $spacing;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing / 2;
    }

  }

  &-body {
    padding: $spacing;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing / 2;
    }

  }

  &-footer {
    padding: $spacing;
    border-top: 1px solid #d4d3d3;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing / 2;
    }

  }
}

// abm-button-nav
.abm-button-nav {

  .abm-button-default {
    color: $baseColor;
    border: 2px solid $baseColor;
    background-color: transparent;
    line-height: 36px;
    letter-spacing: .2;

    &.is-active,
    &:hover {
      color: $baseWhite;
      background-color: $baseColor;
      line-height: 36px;
    }

  }

}

// abm-badge-nav

.abm-badge-nav {

  .uk-active>.abm-badge {
    color: $baseWhite;
    background: $baseColor;
    border-color: $baseColor;
  }

}

// abm-switcher
.abm-switcher {
  &-head {
    >li>a {
      font-size: $textXs !important;
    }

    >li.uk-active>a {
      color: $baseColor;
    }
  }

  &-body {}
}

// abm-dropdown
.abm-dropdown {
  &-body {
    padding: $baseSpacing * 1.5;
  }

  &-list {
    >li {
      >a {
        color: $baseTextColor;
      }
    }
  }
}

// abm-checkbox
.abm-checkbox {
  &-body {
    input {
      &:focus {
        background-color: transparent;
        border-color: $baseColor;
      }

      &:indeterminate,
      &:checked {
        background-color: $baseColor;
        border-color: $baseColor;
      }

      &:checked:focus,
      &:checked:focus,
      &:indeterminate:focus {
        background-color: $baseColor;
        border-color: $baseColor;
      }
    }
  }
}

// img 
.abm-img-responsive {
  width: 100%;
  object-fit: cover;
}

.abm-info-item {
  path {
    fill: $baseColor;
  }
}

// section 
.abm-profile {

  &-title,
  &-subtitle {
    margin: 0;
    color: white;
  }

  &-title {
    font-size: $textMd;
  }

  &-subtitle {
    font-size: $textSm;
  }

  &-img {
    color: white;
  }

  &-nav {
    a {
      color: white;
    }
  }

  &-subnav {
    color: $baseTextColor;
    font-size: $textSm / 1.5;
  }
}

.abm-news-head {
  background: $baseColor;
  color: $baseWhite;

  h1 {
    color: $baseWhite;
  }
}

.abm-news-item {}

// profile table
.abm-profile-table {
  &-head {
    color: $baseWhite;
    background: $baseColor;

    h3 {
      color: $baseWhite;
      margin: 0;
    }
  }

  table {
    tr {}

    th,
    td {
      // white-space: nowrap;
    }

    th {
      color: black;
    }

    td {
      &:first-child {
        white-space: normal;
      }
    }
  }
}

.abm-tree a {
  color: $baseTextColor !important;
}

.abm-tree-item.uk-open {

  &>a>.abm-tree-item-icon {
    transform: rotate(90deg);
  }

}

.abm-tree-item-icon {
  transition: all .2s ease-in-out;
}


// shame css

.uk-accordion>li {
  position: relative
}

.uk-accordion-title {
  font-size: inherit;
}

.uk-accordion-title::after {
  display: none;
}

[class*='uk-drop-bottom'] {
  margin-top: 1rem;
}

.is-relative {
  position: relative;
}

.no-opacity {
  opacity: 1 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.transform-180 {
  transform: rotate(180deg);
}

.opacity {
  opacity: .5;
}

.abm-disabled {
  pointer-events: none;
  opacity: .5;
}

.uk-text-success {
  color: green !important;
}

.uk-width-medium {

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

}

@import "datepicker";
