<section class="abm-base-section">

  <div class="uk-container">

    <div class="uk-section uk-section-large">

      <div class="uk-flex uk-flex-wrap uk-flex-center">

        <div class="uk-width-large">
          <div class="abm-card uk-card uk-card-default uk-card-hover">
            <div class="abm-card-head uk-text-center">
              <h1 class="uk-h1">
                {{ (lang$ | async).getText(123) }}
              </h1>
              <p>
                {{ (lang$ | async).getText(13) }}
              </p>
            </div>
            <div class="abm-card-body">
              <form>

                <app-phone-input [tabindex]="1" [readonly]="step === 2"></app-phone-input>

                <app-password-input  
                field="passwordOne"
                (success)="chackPasswords()"
                [tabindex]="2"
                [readonly]="step === 2"></app-password-input>

                <app-password-input
                field="passwordTwo"
                (success)="chackPasswords()"
                [tabindex]="3"
                [readonly]="step === 2"></app-password-input>


                <app-sms 
                *ngIf="step === 2" 
                [tabindex]="4"
                (send)="sendSmsPassword($event)"></app-sms>
                
              
                <div class="uk-text-center" *ngIf="step === 1">
                  <button 
                  type="submit" 
                  [tabindex]="4"
                  class="abm-button abm-button-default"
                  [disabled]="!((phone$ | async).valid.status &&
                  (passwordOne$ | async).valid.status &&
                  (passwordTwo$ | async).valid.status)"
                  (click)="submitStepOne()">
                    {{ (lang$ | async).getText(11) }}
                  </button>
                </div>
              </form>
            </div>
            <div class="abm-card-footer">
              <div class="uk-text-center">
                <a appTo="/registration" class="uk-link-muted uk-text-uppercase" tabindex="5">
                  {{ (lang$ | async).getText(5) }}
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>




