<form (submit)="onSubmit()">
    <app-phone-input [readonly]="step === 2" tabindex="1"></app-phone-input>

    <div class="uk-margin-small-bottom uk-text-center">
      <a appTo="/forgot-password" class="uk-link-muted" tabindex="3">
        {{ (lang$ | async).getText(121) }}
      </a>
    </div>
  
    <div class="uk-text-center" *ngIf="step === 1">
      <button type="submit" class="abm-button abm-button-default" tabindex="4"
      [disabled]="!(phone$ | async).valid.status">
        {{ (lang$ | async).getText(11) }}
      </button>
    </div>
    <app-sms *ngIf="step === 2" (send)="confirmSMS($event)"></app-sms>
  </form>
  
  
  