<section class="abm-base-section">
  <div class="uk-container">
    <div class="uk-section">
      <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-width-1-1">
          <div class="abm-card uk-card uk-card-default uk-card-hover">

            <app-profile-head></app-profile-head>

            <div class="abm-card-body">
              <div class="abm-feedback-head uk-padding-small uk-margin-bottom">
                <div class="uk-flex uk-flex-middle uk-margin-small-right">
                  <div class="uk-margin-right">
                    <span uk-icon="icon: question; ratio: 1.5"></span>
                  </div>
                  <div>
                    <h1 class="uk-h4 uk-margin-remove">{{ (lang$ | async).getText(140) }}</h1>
                  </div>
                </div>
              </div>
              <div class="abm-feedback-body">
                <div class="feedback-items">
                  <ng-template [ngIf]="(questionsNew$ | async).length">
                    <div *ngFor="let item of (questionsNew$ | async)" class="abm-feedback-item uk-margin-bottom">
                      <app-question [item]="item"></app-question>
                    </div>
                  </ng-template>
                </div>
                <div class="feedback-items">
                  <ng-template [ngIf]="(questionsOld$ | async).length">
                    <div *ngFor="let item of (questionsOld$ | async)" class="abm-feedback-item uk-margin-bottom">
                      <app-question [item]="item"></app-question>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
