// imports

@import "./src/theme";

// abm-welcome-section

.abm-feedback-head {
  background: $baseColor;
  color: white;

  h1 {
    color: white;
  }

}

.abm-feedback-item {
  position: relative;

  &.is-disabled {
    opacity: .5;

    .uk-text-success,
    .uk-text-danger,
    .uk-text-warning {
      color: $baseTextColor!important;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

  }

}